.App {
  text-align: center;
}

form.MuiBox-root.css-xn6ruc,.skill,.count-and-close,.job-buttons,span.MuiBox-root.css-15y4xrm {
  display:flex;
  align-items: center;
}

form.MuiBox-root.css-xn6ruc,.skill,.count-and-close,.job-buttons{
  align-items: center;
}

.job-buttons,.skill{
  justify-content: space-between;
}

form.MuiBox-root.css-xn6ruc{
  flex-direction: column;
  justify-content: center;
}

.skill,span.MuiBox-root.css-15y4xrm{
  width: 100%;
}

span.MuiBox-root.css-15y4xrm{
  justify-content: space-around;
  align-items: flex-start;
}

.skill{
  padding: 5px;
}

.skill h2{
  margin: 0;
}

.css-15y4xrm{
  padding: 0 !important;
}

.job{
  width: 300px;
}

.skillList{
  width: 100%;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.job-buttons{
  margin: 50px 0;
}
