h1,h2{
  text-align: center;
}

.foreground{
  position:absolute;
  width: 100%;
  height: 100%;
}

.skillList,.job-form{
  margin: 0 auto;
}

.job-form,.job{
  background-color: white;
  width: 300px;
}

.job-form img{
  width: 50px;
  margin: 0 auto;
}

.job-form,.jobsContainer,.inputForm,.skill,.count-and-close,.job-buttons,.skillList,.buttons{
  display:flex;
}

.job-form,.buttons,.skillList{
  flex-direction: column;
}

.job-form,.MuiBox-root.css-xn6ruc,.skill,.count-and-close,.job-buttons,.buttons{
  align-items: center;
}

.job-buttons,.skill{
  justify-content: space-between;
}

.jobsContainer,.buttons{
  justify-content: space-around;
}

.jobsContainer,.skillList{
  align-items: flex-start;
}

.inputForm,.skillList{
  justify-content: center;
}

.inputForm button{
  width: 20px !important
}

.jobsContainer{
  flex-wrap: wrap;
  margin-top: 50px;
}

.skill{
  width: 100%;
}

.skill{
  padding: 5px;
}

.skill h2{
  margin: 0;
}

.skillList{
  width: 100%;
  margin: 0 auto;
}

.buttons{
  height: 100px;
}



