.App {
  text-align: center;
}

.jobsContainer,.inputForm,.skill,.count-and-close,.job-buttons,.skillList{
  display:flex;
}

.MuiBox-root.css-xn6ruc,.skill,.count-and-close,.job-buttons{
  align-items: center;
}

.job-buttons,.skill{
  justify-content: space-between;
}

.jobsContainer{
  justify-content: space-around;
}

.jobsContainer,.skillList{
  align-items: flex-start;
}

.inputForm,.skillList{
  justify-content: center;
}

.inputForm button{
  width: 20px !important
}

.jobsContainer{
  flex-wrap: wrap;
  margin-top: 50px;
}

.skill{
  width: 100%;
}

.skill{
  padding: 5px;
}

.skill h2{
  margin: 0;
}

.job{
  width: 300px;
}

.skillList{
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
}

.job-buttons{
  margin: 50px 0;
}
